.home {
	.site-header {
		margin-bottom: 0;
	}

	.site-main {
		padding-top: 0;
	}

	.entry-title {
		@include screen-reader-text;
	}

	.entry-content {
		margin-top: 0;

		.workshops-title {
			margin: 0.5em 0;

			@media screen and (max-width: 48em) {
				font-size: 6.54rem;
			}

			@media screen and (min-width: 48em) {
				font-size: 8.875rem;
			}
		}
	}
}
