.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post-thumbnail,
.entry-content .wp-audio-shortcode,
.entry-content
	> *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
*[class*='inner-container']
	> *:not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
.default-max-width {
	max-width: $size__max-width-default;
	margin-right: auto;
	margin-left: auto;
}

article {
	&.type-post {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.post-thumbnail {
			flex: 0 0 33.3334%;
		}

		.post-content {
			flex: 1;
		}

		.entry-header {
			margin-bottom: 12px;
			font-family: $font__heading;
		}

		.entry-footer {
			border-top: 1px solid map-get($colors, 'darkgray');
			font-size: 0.9em;
			padding-top: 16px;
			width: 100%;
			@include font__menu;

			span {
				display: block;
			}
		}

		.entry-title {
			margin: 0;
		}

		@media screen and (max-width: 48em) {
			.post-thumbnail,
			.entry-content {
				flex: 0 0 100%;
			}
		}

		@media screen and (min-width: 48em) {
			.post-thumbnail {
				flex: 0 1 40%;
				margin-right: 16px;
			}

			.post-content {
				flex: 1;
				margin-top: 0;

				& > p {
					&:first-of-type {
						margin-top: 0;
					}
				}
			}
		}
	}
}
