.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content {
	.home & {
		margin-top: 0;
	}

	.single-post & {
		max-width: $size__max-width-post;
		margin-right: auto;
		margin-left: auto;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post-thumbnail,
.entry-content .wp-audio-shortcode,
.widget-area__sidebar .widget,
.entry-content
	> *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.featured-slider-container):not(.woocommerce):not(.wp-block-soliloquy-soliloquywp):not(.marquee-heading),
*[class*='inner-container']
	> *:not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
.entry-header > *,
.default-max-width {
	max-width: $size__max-width-default;
	margin-right: auto;
	margin-left: auto;

	@media screen and (max-width: 48em) {
		padding-right: 3%;
		padding-left: 3%;
	}
}

.banner-image {
	margin: 0 auto 1em;
	display: block;
	width: 100%;
	padding-bottom: 40%;
	height: 0;
	position: relative;
	overflow: hidden;

	@media screen and (max-width: 48em) {
		display: none;
	}

	img {
		width: 100%;
		height: auto;
		display: block;
	}

	figcaption {
		border-radius: $marquee__border-radius;
		padding: 1em;
		position: absolute;
		bottom: 2em;
		left: 5vw;
		background-color: $color__dark-transparent;
		max-width: 75%;

		.title {
			border: $marquee__border-width solid map-get($colors, 'light-blue');
			border-radius: $marquee__border-radius;
			padding: 1.5rem 2rem;
			font-size: 300%;
			font-weight: 700;
			color: map-get($colors, 'white');
			display: block;
			line-height: 1.2;
		}

		.sub {
			display: block;
			text-align: left;
			font-size: 1rem;
			padding-left: 3px;
			padding-top: 5px;
		}
	}
}

.entry-taxonomies {
	list-style: none;
	padding-left: 0;
	margin: 1em 0;
	display: flex;
	justify-content: flex-start;

	.taxonomy-badge {
		flex: 0 0 auto;
		margin-right: 1em;
	}
}

.post-item-taxonomy-link {
	@include button;
	display: inline-block;
	text-transform: uppercase;
	padding: 0.8em 1.2em 0.7em;
	line-height: 1;
	border: none;
	transition: all 100ms ease-out;
	text-decoration: none;
	font-weight: 600;

	&:link,
	&:visited {
		color: map-get($colors, 'white');
	}

	&:hover {
		text-decoration: none;
		filter: brightness(120%);
		color: inherit;
	}

	&.film_genre {
		background-color: map-get($colors, 'light-blue');
	}

	&.film_event_category {
		background-color: map-get($colors, 'pink');
	}

	&.category {
		background-color: map-get($colors, 'blue');
	}
}
