.product-list {
	margin: 1em 0 0 0;
	padding: 0 1em;
	list-style: none;

	.product {
		padding-bottom: 0.5em;
		margin-bottom: 0.5em;
		border-bottom: 1px dotted map-get($colors, 'gray');
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		&:last-of-type {
			border-bottom: none;
		}

		@media screen and (max-width: 48em) {
			justify-content: flex-end;
		}

		@media screen and (min-width: 48em) {
			justify-content: space-between;
		}

		.woocommerce-loop-product {
			&__title {
				margin: 0 0;
				float: left;
				line-height: 1.3;

				@media screen and (max-width: 48em) {
					font-size: 1.2em;
				}
			}

			&__topline { // CHANGE THIS SELECTOR
				display: flex;
				align-items: flex-end;
				justify-content: space-between;

				@media screen and (max-width: 48em) {
					flex: 0 0 100%;
				}

				@media screen and (min-width: 48em) {
					flex: 1 0 auto;
					margin-right: 1em;
				}
			}
		}

		.product-excerpt {
			overflow: hidden;
			display: flex;
			align-items: center;
			flex: 0 0 100%;
			padding-top: 0.5em;

			@media screen and (max-width: 48em) {
				margin: 0;
				flex-wrap: wrap;
			}
			
			@media screen and (min-width: 48em) {
				flex-wrap: nowrap;
			}
			
			.toggle {
				margin: 0;
				line-height: 1;
				display: inline-block;
				text-decoration: none;
				padding: 4px 0;
				display: flex;
				align-items: center;
			}
			
			.drop {
				height: 0;
				overflow: hidden;
				width: 100%;
				
				
				@media screen and (max-width: 48em) {
					flex: 0 0 100%;
				}
				
				@media screen and (min-width: 48em) {
					flex: 1;
					margin-left: 1em;
				}
			}

			&.active {
				.drop {
					height: auto;
				}
			}
		}

		.price {
			float: right;
			display: block;
			margin-bottom: 1px;
			margin-left: 1em;
		}

		.add_to_cart_button {
			flex: 0 0 auto;
		}
	}
}

.product {
	.entry-summary {
		margin-top: 0;
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		.price,
		.woocommerce-product-details__short-description,
		.cart {
			flex: auto;
		}

		.product_title {
			flex: 0 0 100%;
		}

		.quantity {
			display: none;
		}

		.price {
			margin: 0;
		}
	}

	.product_meta {
		display: none;
	}
}
