.single-film,
.single-live_event {
	.entry-title {
		@include font__special;
		font-size: 5em;
		text-decoration: underline;
	}

	.single-item-heading {
		text-transform: uppercase;
		border-bottom: 3px solid map-get($colors, 'yellow');
		font-size: 1.4em;
		max-width: $size__max-width-default;
		margin-bottom: 0;
	}

	.trailer {
		iframe {
			margin-top: 1em;
		}
	}

	.film-live_event-meta {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;

		dt,
		dd {
			display: inline;
			flex: 0 0 50%;
			margin: 0 0 0.5em;
		}

		dd {
			text-align: right;
		}
	}

	.entry-footer {
		border-top: $marquee__border-width solid map-get($colors, 'yellow');
		margin-top: 2em;
		padding-top: 4px;

		&::before {
			content: '';
			border-top: $marquee__border-width solid map-get($colors, 'yellow');
			display: block;
			width: 100%;
			padding-right: 2%;
			padding-left: 2%;
		}
	}
}
