.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

// Loops to enumerate the classes for gallery columns.
@for $i from 2 through 9 {
	.gallery-columns-#{$i} {
		grid-template-columns: repeat($i, 1fr);
	}
}

.gallery-caption {
	display: block;
}

.wp-block-gallery {
	&.programming-series-gallery {
		@media screen and (max-width: 48em) {
			padding: 0 !important;
		}

		.blocks-gallery-grid {
			.blocks-gallery-item {
				@media screen and (max-width: 48em) {
					flex: 0 0 94%;
					margin: 0.3334em auto;

					&:last-of-type {
						margin-bottom: 0;
					}
				}

				figure {
					position: relative;

					a {
						color: inherit;
					}

					figcaption {
						@include abscenter();
						background: transparent;
						padding: 0;
						font-weight: 800;
						font-size: 200%;
						bottom: initial;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}
