.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

// Loops to enumerate the classes for gallery columns.
@for $i from 2 through 9 {

	.gallery-columns-#{$i} {
		grid-template-columns: repeat($i, 1fr);
	}
}

.gallery-caption {
	display: block;
}

.wp-block-gallery {
	&.fancy-caption {
		figure {
			align-items: center;

			> a {
				&::after {
					display: block;
					position: absolute;
					height: 100%;
					width: 100%;
					background: $color__gallery-overlay;
					content: '';
					top: 0;
					left: 0;
					transition: background 100ms ease-out;
				}

				&:hover {
					&::after {
						background: $color__gallery-overlay-hover;
					}
				}
			}

			.blocks-gallery-item__caption {
				background: none;
				flex: auto;
				padding: 0;
				bottom: initial;
				font-weight: 800;
				font-size: 200%;
				color: $color__text-gallery-figcaption;
				pointer-events: none;
			}
		}
	}
}