.siema {
	position: relative;

	&.rhd-post-items-container {
		@media screen and (max-width: 48em) {
			width: 82%;
		}

		@media screen and (min-width: 48em) {
			width: 90%;
		}
	}

	// &.featured-slider-container {
	// 	height: calc(80vh - 80px);
	// }

	.slider {
		width: 100%;

		&.featured-slider {
			&__item {
				height: 100%;
			}

			.wp-block-cover {
				@media screen and (max-width: 48em) {
					min-height: calc(80vh - 80px);
				}

				&::before {
					height: 100vh;
				}

				&__image-background {
					@media screen and (max-width: 48em) {
						min-height: 130%;
						width: auto;
					}

					@media screen and (min-width: 48em) {
						height: auto;
					}
				}
			}

			& + .siema-nav {
				position: absolute;

				@media screen and (max-width: 48em) {
					left: 5%;
					bottom: 7%;
				}

				@media screen and (min-width: 48em) {
					right: 5vw;
					bottom: 2rem;
				}
			}
		}

		&.rhd-post-items {
			& + .siema-nav {
				display: block;
				justify-content: space-between;
				height: auto;
				@include abscenter();

				@media screen and (max-width: 48em) {
					width: 123%;
				}
				@media screen and (min-width: 48em) {
					width: ($size__max-width-default + 140px);
					max-width: 113%;
				}

				& > button {
					visibility: hidden;

					&.visible {
						visibility: visible;
					}

					&:first-of-type {
						float: left;
						clear: left;
					}

					&:last-of-type {
						float: right;
						clear: right;
					}
				}
			}
		}
	}

	.siema-nav {
		button {
			border-radius: 50%;
			// border: 4px solid map-get($colors, 'white');
			border: none;
			background-color: transparent;
			cursor: pointer;
			transition: background-color 100ms ease;
			margin: 0 0.5em;

			&:hover,
			&:active {
				background-color: transparentize(map-get($colors, 'dark-gray'), 0.5);
			}

			svg {
				width: auto;
				height: auto;
				display: block;
				margin-top: 5px;
				margin-bottom: 5px;
				path {
					fill: map-get($colors, 'white');
				}
			}
		}

		&__next {
			svg {
				margin-left: 7px;
			}
		}

		&__prev {
			svg {
				margin-right: 7px;
			}
		}
	}
}
