.site-title {
	@include font__special;
	margin: 0;

	@media screen and (max-width: 48em) {
		font-size: 1.9em;
	}

	@media screen and (min-width: 48em) {
		font-size: 3em;
	}
}

.entry-title,
.page-title {
	margin-top: 0;
	font-size: 2.2em;
	@include font__heading;
}

.font-special {
	@include font__special;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include font__heading;
}
