// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Default max width
@mixin default-max-width {
	width: 100%;
	max-width: $size__max-width-default;
	@include center-block;
}

// Fonts
@mixin font__main {
	font-family: $font__main;
	font-weight: normal;
}

@mixin font__heading {
	font-family: $font__heading;
	font-weight: bold;
	line-height: 1.1;
}

@mixin font__special {
	font-family: $font__special;
	font-weight: normal;
	line-height: 1.1;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) -
		(($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

// Absolute centering
@mixin abscenter($x: true, $y: true, $xOffset: 0%, $yOffset: 0%) {
	@if $x or $y {
		position: absolute;

		@if $x and not $y {
			left: 50%;
			transform: translateX(calc(-50% + #{$xOffset}));
		} @else if $y and not $x {
			top: 50%;
			transform: translateY(calc(-50% + #{$xOffset}));
		} @else {
			top: 50%;
			left: 50%;
			transform: translate(calc(-50% + #{$xOffset}), calc(-50% + #{$yOffset}));
		}
	}
}

// Buttons
@mixin button( $border-width: $size__border-width, $border-style: solid, $border-color: $color__border-button ) {
	border: $border-width solid $border-color;
	border-radius: $size__border-radius;
	background: $color__background-button;
	color: $color__text-button;
	line-height: 1;
	padding: 0.6em 1em;
	text-decoration: none;
	@include font__heading;

	&:hover {
		background: $color__background-button-hover;
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
