// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) -
		(($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

// Fonts
@mixin font-main {
	font-family: $font__main;
	font-weight: 400;
}

@mixin font-title {
	font-family: $font__title;
	font-weight: 700;
}

@mixin overlay {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparentize(
		$color: map-get($colors, 'black'),
		$amount: 0.52
	);
}

@mixin vhcenter {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
