// Anna ITC heading font
@mixin font__special {
	font-family: $font__special;
	font-weight: normal;
}

// Screen readers
@mixin visuallyhidden {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.

	&:focus {
		background-color: $color__background-screen;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		clip-path: none;
		color: $color__text-screen;
		display: block;
		font-size: 0.875rem;
		font-weight: 700;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; // Above WP toolbar.
	}
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) -
		(($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

// Absolute centering
@mixin abscenter($x: true, $y: true, $xOffset: 0%, $yOffset: 0%) {
	@if $x or $y {
		position: absolute;

		@if $x and not $y {
			left: 50%;
			transform: translateX(calc(-50% + #{$xOffset}));
		} @else if $y and not $x {
			top: 50%;
			transform: translateY(calc(-50% + #{$xOffset}));
		} @else {
			top: 50%;
			left: 50%;
			transform: translate(calc(-50% + #{$xOffset}), calc(-50% + #{$yOffset}));
		}
	}
}

// Buttons
@mixin button() {
	border: $marquee__border-width solid $color__border-button;
	border-radius: $marquee__border-radius;
	background-color: $color__background-button;
	color: $color__text-button;
	cursor: pointer;
	line-height: 1;
	padding: 0.8em 1.25em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	transition: all 100ms ease-out;

	&:hover,
	&:active {
		background-color: $color__background-button-hover;
		border-color: $color__border-button;
		color: $color__text-button-hover;
	}

	&:visited {
		color: $color__text-button;
	}
}

// Icon links
@mixin icon-link($icon-spacing: 0.667em) {
	height: 1.5rem;

	a {
		display: block;
		height: 100%;
		font-weight: 600;

		&::before {
			width: 2rem;
			height: 100%;
			display: block;
			content: '';
			margin-right: $icon-spacing;
			float: left;
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	$icons: (
		'projector',
		'ticket',
		'popcorn',
		'ada',
		'shield',
		'car',
		'utensils',
		'calendar',
		'news'
	);

	@each $icon in $icons {
		&.#{$icon} {
			a {
				&::before {
					background-image: url('assets/svg/' + $icon + '-icon.svg');
				}
			}
		}
	}
}
