.team-members-group {
	&.wp-block-group {
		& > * {
			max-width: $size__max-width-default;
			margin-right: auto;
			margin-left: auto;
		}
	}
}

.team-members-container {
	padding: 20px 10px;
	max-width: 100% !important;

	.team-members {
		list-style: none;
		margin-left: 0;

		@media screen and (max-width: 48em) {
			padding: 20px;
		}

		@media screen and (min-width: 48em) {
			padding: 0 0 40px;
		}

		&__item {
			display: flex;
			margin-bottom: 20px;
			color: map-get($colors, 'white');
			font-size: 1.1em;

			@media screen and (max-width: 48em) {
				flex-wrap: wrap;
			}

			&__image,
			&__content {
				@media screen and (max-width: 48em) {
					flex: 0 0 100%;
				}
			}

			&__image {
				flex: 0 0 300px;
				margin-right: 24px;
				max-width: 100%;

				@media screen and (max-width: 48em) {
					margin-bottom: 12px;
				}

				img {
					width: 100%;
					height: auto;
					border: 2px solid map-get($colors, 'white');
				}
			}

			&__content {
				text-align: left;

				.team-member-title {
					margin-top: 0;
					font-size: 1.3em;
					line-height: 1.1;
				}
			}
		}
	}
}
