.main-navigation {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
	height: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		font-size: 1.4em;

		.sub-menu {
			padding-left: 1em;
		}
	}

	li {
		position: relative;

		&.current-menu-item {
			font-weight: bold;
			background: var(--wp--preset--color--lightblue);
		}
	}

	a {
		display: block;

		&:link,
		&:visited {
			text-decoration: none;
		}

		&:hover,
		&:active {
			text-decoration: underline;
			text-decoration-style: dotted;
		}
	}

	.menu-main-menu-container {
		background: var(--wp--preset--color--darkblue);
		padding: 0.5em 0;
		height: 100%;

		@media screen and (max-width: 48em) {
			overflow: auto;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			line-height: 1.4;

			@media screen and (max-width: 48em) {
				width: 100vw;
				padding-left: 2em;
			}

			li {
				padding: 0.3em 1em;

				a {
					color: var(--wp--preset--color--white);
					display: inline-block;
					width: 100%;
				}
			}
		}

		.menu {
			ul {
				@media screen and (min-width: 48em) {
					display: none;
				}
			}

			.menu-item-has-children {
				&.menu-active {
					> a {
						border-bottom: 2px solid white;
					}

					ul {
						display: block;
					}
				}
			}
		}
	}
}

.off-canvas {
	background-color: var(--wp--preset--color--darkgray);
	position: fixed;
	max-width: 100vw;
	height: 100vh;
	width: $size__site-off-canvas-navigation;
	top: 0;
	right: 0;
	padding: 10vh 1em;
	transform: translateX(100vw);
	transition: transform 250ms ease-out;
	z-index: 10000; // clobber that admin bar, captain.

	.toggled & {
		transform: translateX(0);
	}

	ul {
		li {
			font-size: var(--wp--preset--font-size--medium);
			margin: 1em 0;
		}

		a {
			color: var(--wp--preset--color--white);
		}
	}
}

.menu-toggle {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
