.main-navigation {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: auto;
	height: 100%;

	ul {
		margin: 0;
		padding-left: 0;
		font-size: 1.4em;
		list-style: none;

		.sub-menu {
			padding-left: 1em;
		}
	}

	li {
		position: relative;
	}

	a {
		display: block;

		&:link,
		&:visited {
			text-decoration: none;
		}

		&:hover,
		&:active {
			text-decoration: underline;
			text-decoration-style: dotted;
		}
	}
}

.menu-main-menu-container {
	height: 100%;
	padding: 0.5em 0;

	@media screen and (max-width: 48em) {
		overflow: auto;
	}

	ul {
		margin: 0;
		padding: 0;
		line-height: 1.4;
		list-style: none;

		@media screen and (max-width: 48em) {
			width: 100vw;
			padding-left: 2em;
		}

		@media screen and (min-width: 48em) {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
		}

		li {
			font-size: 1.2em;
			text-transform: uppercase;
			@include font__heading_2;

			a {
				display: inline-block;
				width: 100%;
			}
		}
	}

	.menu {
		ul {
			@media screen and (min-width: 48em) {
				display: none;
			}
		}

		.menu-item-has-children {
			& > ul {
				display: none;
				margin: 0;
				padding: 0;
			}

			&.menu-active {
				& > a {
					border-bottom: 2px solid white;
				}

				ul {
					display: block;
				}
			}
		}
	}
}

.desktop-navigation {
	display: flex;
	width: 100%;
}

.off-canvas {
	@media screen and (max-width: 48em) {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 10000;
		width: $size__site-off-canvas-navigation;
		max-width: 100vw;
		height: 100vh;
		padding: 12vh 1em;
		overflow: auto;
		background: var(--wp--preset--color--blue);
		transform: translateX(100vw);
		transition: transform 250ms ease-out; // clobber that admin bar, captain.

		.admin-bar & {
			margin-top: 2.5em;
		}

		&.toggled {
			transform: translateX(0);
		}

		ul {
			padding-left: 0;

			&.menu {
				li {
					margin: 0.5em 0;
					padding: 0.5em 0;
					font-size: var(--wp--preset--font-size--medium);
				}
			}

			a {
				color: var(--wp--preset--color--white);
			}
		}
	}
}

.menu-toggle {
	@media screen and (max-width: 48em) {
		@include abscenter($x: false, $y: true);
		right: 1rem;
	}

	@media screen and (min-width: 48em) {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		flex: 1 0 50%;
		text-align: end;
	}
}
