.main-navigation {
	display: block;

	@media screen and (max-width: 48em) {
		width: auto;
	}

	@media screen and (min-width: 48em) {
		width: 100%;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		.sub-menu {
			padding-left: 1em;
		}
	}

	li {
		position: relative;
	}

	a {
		display: block;
		text-decoration: none;
	}

	.menu-main-menu-container {
		background: map-get($colors, 'darkgray');
		padding: 0.5em 0;
		height: 100%;

		@media screen and (max-width: 48em) {
			overflow: auto;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			line-height: 1.4;

			@media screen and (max-width: 48em) {
				width: 100vw;
				padding-left: 2em;
			}

			li {
				padding: 0.3em 1em;

				a {
					color: map-get($colors, 'white');
					text-decoration: none;
					display: inline-block;
					width: 100%;
				}

				&:hover,
				&:focus,
				&:active {
					& > a {
						color: map-get($colors, 'blue');
					}
				}
			}
		}

		.menu {
			ul {
				@media screen and (min-width: 48em) {
					display: none;
				}
			}

			& > li {
				border-left: 3px solid transparent;

				&:not(.current-menu-parent) {
					&:hover,
					&:focus,
					&:active {
						border-left-color: 3px solid map-get($colors, 'blue');
					}
				}
			}

			.current-menu-parent {
				color: white;
				background: map-get($colors, 'gray');

				& > a {
					color: inherit;
					border-bottom: 2px solid white;
					display: inline-block;
					width: 100%;
				}

				ul {
					display: block;
					padding: 0.25em 0 0.25em 1em;
				}
			}

			.menu-item-has-children {
				&:not(.current-menu-parent) {
					&:hover {
						position: relative;

						ul {
							background: map-get($colors, 'gray');
							display: block;
							position: absolute;
							top: 0;
							left: ($size__site-sidebar - 3px);
							width: $size__site-sidebar;
							padding: 0.5em 0;
						}
					}
				}
			}
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;

	@media screen and (min-width: 48em) {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
