body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	font-size: var(--wp--preset--font-size--normal);

	&.menu-toggled {
		overflow: hidden;
	}
}

.site-header,
.site-main,
.site-footer {
	position: relative;
}

.site-header {
	@media screen and (max-width: 48em) {
		height: 80px;
		position: relative;
	}

	.hfeed &, .single-post & {
		margin-bottom: 2em;
	}
}

.site-branding {
	color: var(--wp--preset--color--darkgray);

	@media screen and (max-width: 48em) {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	
	@media screen and (min-width: 48em) {
		position: absolute;
		top: 8px;
		left: 8px;
		height: 64px;
		width: auto;
	}

	> * {
		line-height: 1;
	}

	.site-title {
		position: relative;
		right: 3px;

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	.description {
		text-transform: uppercase;

		@media screen and (max-width: 48em) {
			font-size: 0.8em;
		}

		@media screen and (min-width: 48em) {
			font-size: 1.2em;
			margin-left: 1em;
		}
	}
}

.site-main {
	padding: 2em 0;

	.blog &,
	.archive & {
		padding-right: 2vw;
		padding-left: 2vw;
	}
}

.widget-area {
	padding: 1em 0;
}

.site-footer {
	background: var(--wp--preset--color--green);
	color: var(--wp--preset--color--white);
	padding: 1em;
	margin-top: 1em;

	a {
		color: var(--wp--preset--color--green);
	}

	.site-info {
		display: flex;
		align-items: center;
		width: 100%;
		text-align: center;
		flex-wrap: wrap;
		margin-top: 1em;

		@media screen and (max-width: 48em) {
			justify-content: space-evenly;
		}

		p {
			margin: 0;
			flex: 0 0 100%;

			@media screen and (max-width: 48em) {
				margin-bottom: 1em;
			}

			@media screen and (min-width: 48em) {
				display: inline;
				margin: 1em 0;
			}
		}

		a {
			color: inherit;

			@media screen and (max-width: 48em) {
				display: block;
			}
		}

		.sep {
			@media screen and (max-width: 48em) {
				display: none;
			}

			@media screen and (min-width: 48em) {
				display: inline-block;
				margin: 0 0.5em;
			}
		}
	}
}

.large-screen {
	@media screen and (max-width: 48em) {
		display: none;
	}
}

.small-screen {
	@media screen and (min-width: 48em) {
		display: none;
	}
}
