a {
	color: $color__link;
	font-weight: 500;

	&:link,
	&:visited {
		text-decoration: none;
	}

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:active {
		text-decoration: underline;
		outline: 0;
	}

	&:focus {
		outline: thin var(--wp--preset--color--lightgray) dotted;
	}
}
