a {
	color: $color__link;

	&:link,
	&:visited {
		text-decoration: none;
	}

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:active {
		text-decoration: underline;
		text-decoration-style: dotted;
		outline: 0;
	}

	&:focus {
		outline: thin map-get($colors, 'lightblue') dotted;
	}
}
