.site {
	display: grid;
	grid-template-columns: auto;
	grid-template-areas:
		'header'
		'main'
		'footer';

	.page &,
	.single-post &,
	.search & {
		grid-template-columns: 100%;
		grid-template-areas:
			'header'
			'sidebar'
			'poster'
			'main'
			'footer';
	}

	.single-film &,
	.single-live_event & {
		@media screen and (max-width: 48em) {
			grid-template-columns: 100%;
			grid-template-areas:
				'header'
				'sidebar'
				'poster'
				'main'
				'footer';
		}

		@media screen and (min-width: 48em) {
			grid-template-columns: auto (
					$size__max-width-default - $size__site-sidebar
				) $size__site-sidebar auto;
			grid-template-areas:
				'header header header header'
				'poster poster poster poster'
				'. main sidebar .'
				'footer footer footer footer';

			.site-main,
			.widget-area__sidebar {
				@media screen and (min-width: 48em) {
					margin-right: 1rem;
					margin-left: 1rem;
				}
			}
		}

		.banner-image {
			grid-area: poster;
		}
	}
}

.site-header {
	grid-area: header;
}

.site-main,
.widget-area__sidebar {
	.single-film &,
	.single-live_event &,
	.page & {
		margin-bottom: 2em;
	}
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area__sidebar {
	grid-area: sidebar;
}

.site-footer {
	grid-area: footer;
}

@import 'no-sidebar';
