.site-inner {
	max-width: 1080px;
	margin-right: auto;
	margin-left: auto;

	@media screen and (min-width: 48em) {
		display: grid;
		grid-template-columns: ($size__site-sidebar) auto;
		grid-template-areas: 'sidebar main';
	}
}

.site-header {
	grid-area: header;
}

.site-main {
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */

	@media screen and (min-width: 48em) {
		grid-area: main;
	}
}

.widget-area {
	&__sidebar {
		display: flex;
		justify-content: space-between;
		padding-right: 25px;
		padding-left: 25px;

		@media screen and (max-width: 48em) {
			flex-direction: column;
		}

		@media screen and (min-width: 48em) {
			grid-area: sidebar;
			display: block;
		}
	}
}

.site-footer {
	grid-area: footer;
}

@import 'no-sidebar';
