@media screen and (min-width: 48em) {
	.site {
		display: grid;
		grid-template-areas:
			"header header header"
			". main ."
			"footer footer footer";
		grid-template-columns: auto;

		.single-post & {
			grid-template-areas:
				"header header header header"
				". sidebar main ."
				"footer footer footer footer";
			grid-template-columns: auto 360px fit-content($size__max-width-default) auto;
		}
	}

	.site-header {
		grid-area: header;
	}

	.site-main {
		grid-area: main;
		// margin-right: 5vw;
		// padding-left: 1em;
		overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
	}

	.widget-area {
		&__sidebar {
			grid-area: sidebar;
			margin-left: 60px;
		}
	}

	.site-footer {
		grid-area: footer;
	}
}

@import "no-sidebar";
