.site-inner {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;

	@media screen and (min-width: 48em) {
		display: grid;
		grid-template-columns: ($size__site-sidebar) auto;
		grid-template-areas: 'sidebar main';
	}
}

.site-header {
	grid-area: header;
}

.site-main {
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
	background: $color__background-primary;

	@media screen and (min-width: 48em) {
		grid-area: main;
	}
}

.widget-area {
	&__sidebar {
		background: $color__background-secondary;
		padding-right: 1em;
		padding-left: 1em;

		@media screen and (min-width: 48em) {
			grid-area: sidebar;
			display: block;
		}
	}
}

.site-footer {
	grid-area: footer;
}

@import 'no-sidebar';
