.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.widget-area {
	&__header {
		width: 100%;
		padding: 0;

		@media screen and (max-width: 48em) {
			.widget {
				&:nth-child(-n + 2) {
					display: none;
				}
			}
		}

		@media screen and (min-width: 48em) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			width: 100%;

			.widget {
				margin-bottom: 0;
			}

			.widget_media_image {
				flex-basis: auto;
				padding: 10px;

				.wp-block-image {
					max-width: 400px;
					margin: 0;

					img {
						display: block;
						width: auto;
						height: 100%;
					}
				}
			}

			.wp-block-search {
				&__button {
					&.has-icon {
						margin-left: 0;
						background: transparent;
						border: none;

						.search-icon {
							width: 32px;
							height: 32px;
						}
					}
				}
			}

			.wp-block-group {
				&.header-right {
					display: flex;

					@media screen and (max-width: 60em) {
						flex-wrap: wrap;
						width: 33vw;
						margin: 1em 0;

						> * {
							flex: 0 0 100%;
						}
					}

					@media screen and (min-width: 60em) {
						justify-content: flex-end;
						margin-right: 10px;
					}
				}
			}

			.wp-block-social-links {
				margin-bottom: 0;

				li {
					@media screen and (max-width: 60em) {
						margin: 0;
						padding: 0;
					}
				}
			}

			.wp-block-search {
				@media screen and (min-width: 60em) {
					margin-left: 10px;
				}
			}

			.widget_nav_menu {
				flex: 0 0 100%;
				margin-bottom: 0;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				border-top: 4px solid var(--wp--preset--color--green);
				border-bottom: 4px solid var(--wp--preset--color--green);

				ul {
					padding: 0.25em 2em;
				}
			}
		}
	}

	&__sidebar {
		.widget_search {
			.search-form {
				display: flex;
				flex-wrap: nowrap;
			}

			label {
				flex: 1;

				.search-field {
					padding: 0.5em;
					font-size: 1.1em;
				}
			}

			.search-submit {
				flex: 1;
				border-radius: 2px;
			}
		}
	}

	&__footer {
		display: block;
		align-items: center;
		margin: 0 auto;
		padding: 0;

		.widget {
			margin: 0;

			.wp-block-social-links {
				margin-bottom: 0;
			}
		}
	}
}
