.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.widget-area {
	&__footer {
		padding: 0;
		display: flex;
		align-items: center;

		.widget {
			margin: 0;

			.wp-block-social-links {
				margin-bottom: 0;
			}
		}
	}
}
