.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.widget-area {
	&__footer {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 0;

		.widget {
			margin: 0;

			// Columns block
			&:first-of-type {
				width: 100%;
				
				.wp-block-columns {
					.wp-block-column {
						text-align: center;
					}
				}
			}


			.wp-block-social-links {
				margin-bottom: 0;
			}
		}
	}
}
