.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}

	.site-footer & {
		figure {
			margin: 0;

			blockquote {
				padding: 0;
				border-left: none;

				@media screen and (max-width: 48em) {
					text-align: center;
				}
				
				@media screen and (min-width: 48em) {
					text-align: right;
				}

				p {
					margin: 0 0 6px;
				}

				cite {
					color: map-get($colors, 'darkgray');
					font-family: $font__heading;
					font-size: 1em;

					&::before {
						content: '\2013\00a0';
					}
				}
			}
		}

		@media screen and (max-width: 48em) {
			flex: 0 0 100%;
		}

		@media screen and (min-width: 48em) {
			flex: 0 1 50%;
		}
	}
}
