$size__site-main: 100%;
$size__header-height: 80px;
$size__site-sidebar: 350px;
$size__site-navigation: 300px;
$size__max-width-default: calc(100vw - calc(2 * 25px * 0.6));
$size__desktop__admin-bar-height: 32px;
$size__mobile__admin-bar-height: 46px;