$size__site-main: 100%;
$size__site-sidebar: 300px;
$size__site-off-canvas-navigation: 300px;
$size__max-width-default: 1400px;
$size__max-width-content-with-sidebar: 800px;
$size__max-width-alignwide: 1200px;

$size__border-radius: 1rem;
$size__border-width: 3px;
