.current-news-group {
	border-top: 2px solid map-get($colors, "lightteal");
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.current-news-container {
	max-width: none !important;
	padding: 2em !important;
	width: 100%;
}

.current-news {
	width: 100%;

	// Empty <p> tags sometimes are inserted automatically, so let's crush their marginly spirit.
	p {
		margin: 0;
		display: none;
	}

	&__item {
		text-align: center;
		text-decoration-line: underline !important;
		margin: 0;
		display: block;

		&:link,
		&:visited {
			text-decoration: dotted;
		}

		&:hover,
		&:focus {
			text-decoration: solid;
		}

		.entry-title {
			display: inline-block;
			margin: 0;
		}
	}
}
